html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,*::before, *::after{
    box-sizing: inherit;
}

body {
    font-family:'Roboto', sans-serif, 'Arial';
}

p {
    line-height: 120%;
    font-size: 1.1rem;
}

/* HOME PAGE */

.header {
    background-color: #A7754D;
}

.header__wrapper {
    width: 72rem;
    margin: 0 auto;
    padding-top: 3.5rem;
}

.navigation {
    background-color: #A7754D;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.navigation__wrapper {
    display: flex;
    width: 72rem;
    margin: 0 auto;
    padding: 1rem 0 1rem 50rem;
    justify-content: space-between;
    position: relative;
}

.navigation__link {
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}

.navigation__link--hover {
    background-color: black;
    content: "";
    display: block;
    height: 0.15rem;
    width: 0%;
    transition: width 0.6s ease;
}

.navigation__link:hover .navigation__link--hover {
    width: 100%;
}

.header__title {
    font-size: 8rem;
    font-weight: bold;
    line-height: 0.9;
    border-bottom: black 0.5rem solid;
    padding-bottom: 1rem;
}

.header__title--first {
    padding-left: 0.55rem;
}

.header__arrow--wrapper {
    margin: 0 auto;
    margin-top: 4rem;
    max-width: fit-content;
    padding-top: 3rem;
}

.header__arrow {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    border: white 0.4rem solid;
    position: absolute;
    top: 24rem;
    left: 50%;
    margin-left: -2.5rem;
    background-color: white;
}

.container {
    width: 72rem;
    margin: 0 auto;
}

.about {
    display: grid;
    grid-template: 1fr 4fr / 2fr 1fr;
    grid-template-areas:
    "title image"
    "textcopy image";

    margin-top: 14rem;

    position: relative;
}

#about {
    position: absolute;
    top: -4rem;
}

.about__text-container {
    width: 35rem;
    margin-top: 2rem;
    grid-area: textcopy;
}

.about__image {
    width: 25rem;
    grid-area: image;
    align-self: center;
}

.about__title {
    font-size: 3.5rem;
    font-weight: bold;
    padding-top: 1rem;
    grid-area: title;
    align-self: end;
}

.about__text {
    margin-bottom: 2.5rem;
    text-align: justify;
}

.frontgallery__title {
    font-size: 3.5rem;
    font-weight: bold;
    padding-top: 9rem; 
}

.frontgallery__text-container {
    margin-top: 0.8rem;
}

.frontgallery__image {
    width: 72rem;
}

.frontgallery__button {
    text-decoration: none;
    color:rgb(255, 255, 255);
    background-color: #aca54e;
    padding: 1rem;
    text-align: center;
    display: inline-block;
    border-radius: 1rem;
    transition: all .4s ease-in-out;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.frontgallery__button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition: all .4s ease-in-out;
}

.footer {
    background-color: #A7754D;
    margin-top: 8rem;
}

.footer__wrapper{
    display: grid;
    grid-template: 3fr 2fr 2fr / 1fr 3fr 4fr;
    grid-template-areas: 
    "title socials nav"
    "textcopy textcopy nav"
    "copyright copyright nav";
    grid-gap: 0.3rem;
    position: relative;
    padding: 1rem 0;
    align-items: end;
    width: 72rem;
    margin: 0 auto;
}

.footer__title {
    grid-area: title;
    font-size: 1.4rem;
    font-weight: bold;
}

.footer__socials {
    grid-area: socials;
}

.socials__icon {
    width: 1.5rem;
    height: auto;
}

.footer__socials-link {
    margin-right: 0.6rem;
}

.footer__text {
    grid-area: textcopy;
}

.footer__copyright {
    grid-area: copyright;
}

.footer__navigation {
    grid-area: nav;
    justify-self: end;
    align-self: center;
}

.footer__navigation--link {
    text-decoration: none;
    color: black;
    margin-left: 1rem;
}

.footer__arrow {
    justify-content: center;
    position: absolute;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    border: white 0.4rem solid;
    top: -2.5rem;
    left: 50%;
    margin-left: -2.5rem;
    background-color: white;
    transform: rotate(180deg);
}

/* GALLERY PAGE */

.navigationlarge-wrapper {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 72rem;
    margin: 0 auto;
}

.navigation__wrapper--large {
    padding: 1rem 0;
    width: 22rem;
    margin: 0;
}

.gallery__title {
    font-size: 3.5rem;
    font-weight: bold;
    padding-top: 1rem;
    grid-area: title;
    align-self: end;
    margin-left: -0.1rem;
}

.gallery {
    display: grid;
    grid-template: 1fr 1fr 3fr 1fr 3fr 1fr/ repeat(3, 1fr);
    grid-template-areas:
    "gal-title . ."
    "gal-subtitle . ."
    "image1 image2 image3"
    "text1 text2 text3"
    "image4 image5 image6"
    "text4 text5 text6";
    grid-column-gap: 6rem;
    justify-items: center;
    padding: 3.5rem 0;
    width: 72rem;
    margin: 0 auto;
    justify-content: space-between;
}

.gallery__title {
    grid-area: gal-title;
    justify-self: left;
    padding-bottom: 1rem;
}

.image { 
    width: 20rem;
    height: auto;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    align-self: center;
}

.image:hover{
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

.image1 {
    grid-area: image1;
}

.image2 {
    grid-area: image2;
}

.image3 {
    grid-area: image3;
}

.image4 {
    grid-area: image4;
}

.image5 {
    grid-area: image5;
}

.image6 {
    grid-area: image6;
}

.text{
    padding-top: 1rem;
    font-style: italic;
}

.text1 {
    grid-area: text1;
}

.text2 {
    grid-area: text2;
}

.text3 {
    grid-area: text3;
}

.text4 {
    grid-area: text4;
}

.text5 {
    grid-area: text5;
}

.text6 {
    grid-area: text6;
}

.gallery__subtitle {
    grid-area: gal-subtitle;
    font-size: 1rem;
    color: rgb(56, 56, 56);
    justify-self: left;
}

.navigation__link--title {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
    line-height: 0.9;
    margin: auto 0;
}

.header__smalltitle--first {
    padding-left: 0.1rem;
}

@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) { 
  .selector:not(*:root), .navigation__link--hover {
    opacity: 0;
    transition: all 0.6s ease;
  }

  .chrome:hover .navigation__link--hover{
    opacity: 1;
  }
}

/* CONTACT PAGE */

.contact {
    display: flex;
}

.contact__form {
    width: 50%;
    margin: 6rem auto;
}

.footer--contact {
    background-color: #A7754D;
    margin-top: -1rem;  
}

/*Media Queries*/

